@page
@model Saude360.Pages.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home/Index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Saude360</title>
</head>

<body>
    <header class="cabecalho">
        <input type="checkbox" id="chec">
        <label for="chec">
            <img class="menu" src="/images/menu_barra.png">
        </label>
        <nav class="navigation">
            <ul class="opcoes">
                <li><a href="Index.cshtml">Início</a></li>
                <li><a href="">Perfil</a></li>
                <li><a href="">Tratamentos</a></li>
                <li><a href="">Medicamentos</a></li>
                <li><a href="">Ciclo Menstrual</a></li>
            </ul>
        </nav>

        <img class="imagemLogo" src="/images/Logo.png">

        <div class="login">
            <button class="botaoLogin" href="@*Cadastro.html*@">Entrar</button>
        </div>
    </header>

    <div class="separador">
        <main class="conteudo">
            <div class="conteudo-texto">
                <section class="conteudo-principal">
                    <div class="conteudo-principal-escrito">
                        <h1 class="conteudo-principal-escrito-titulo">
                            Saúde360! O cuidado que te acompanha no dia-a-dia.
                        </h1>
                        <h2 class="conteudo-principal-escrito-subtitulo">
                            Não somos apenas uma plataforma que te auxilía no cuidado a saúde, aqui voce encontra:
                        </h2>
                    </div>
                </section>

                <section class="conteudo-secundario">
                    <p class="conteudo-secundario-paragrafo">
                        <img class="seta" src="/images/seta_rosada.png">
                        Acompanhamento de ciclo menstrual.
                    </p>
                    <p class="conteudo-secundario-paragrafo">
                        <img class="seta" src="/images/seta_azul.png">
                        Listagem e ordenação de tratamentos medicamentosos.
                    </p>
                    <p class="conteudo-secundario-paragrafo">
                        <img class="seta" src="/images/seta_amarela.png">
                        Confecção de rotina medicamentosa.
                    </p>
                    <p class="conteudo-secundario-paragrafo">
                        <img class="seta" src="/images/seta_verde.png">
                        Ordenação e acompanhamento de consultas.
                    </p>
                </section>
            </div>
            <div class="conteudo-imagem">
                <img class="imagem_tela_inicial" src="/images/imagen_TelaInicial.png">
            </div>
        </main>

    </div>


    <footer>
    </footer>

</body>


</html>
