@model ProjetoSaude360.Models.Cadastro

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Cadastro/edit.css" />
    <title>Edição de Perfil</title>
</head>

<body>
    <header class="cabecalho">
        <input type="checkbox" id="chec">
        <label for="chec">
            <img class="menu" src="/images/menu_barra.png">
        </label>
        <nav class="navigation">
            <ul class="opcoes">
                <li><a href="https://localhost:7156">Início</a></li>
                <li><a href="/Cadastros/PerfilUsuario">Perfil</a></li>
                <li><a href="/Tratamentos/Index">Tratamentos</a></li>
                <li><a href="/Medicamentos/Index">Medicamentos</a></li>
            </ul>
        </nav>

        <img class="imagemLogo" src="/images/Logo.png">

        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    Olá @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Cadastros" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cadastros" asp-action="Login">Login</a>
                </li>
            }
        </ul>
    </header>

    <div class="title-container">
        <div class="title">Edição de Perfil</div>
    </div>
    <div class="container">
        <div class="column">
            <div class="profile-picture"></div>
            <div class="form-group">
                <input type="text" id="nome" name="nome" placeholder="Nome" />
            </div>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="column">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome:</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genero" class="control-label">Gênero:</label>
                    <select asp-for="Genero" asp-items="@Html.GetEnumSelectList<Enums.Genero>()" class="form-control"></select>
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataDeNascimento" class="control-label">Data de Nascimento:</label>
                    <input asp-for="DataDeNascimento" class="form-control" />
                    <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Telefone:</label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="buttons">
                <button class="edit-button" type="submit">Editar</button>
                <button class="cancel-button">Cancelar</button>
            </div>
        </form>
    </div>


</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

