@model ProjetoSaude360.Models.Cadastro

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edição de Perfil</title>
  </head>

<body>
    <header class="cabecalho">
        <input type="checkbox" id="chec" />
        <label for="chec">
            <img class="menu" src="/images/menu_barra.png" />
        </label>
        <nav class="navigation">
            <ul class="opcoes">
                <li><a href="https://localhost:7156">Início</a></li>
                <li><a href="/Cadastros/PerfilUsuario">Perfil</a></li>
                <li><a href="/Tratamentos/Index">Tratamentos</a></li>
                <li><a href="/Medicamentos/Index">Medicamentos</a></li>
            </ul>
        </nav>

        <img class="imagemLogo" src="/images/Logo.png" />

        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    Olá @User.Identity.Name
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cadastros" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cadastros" asp-action="Login">Login</a>
                </li>
            }
        </ul>
    </header>
    <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="column">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome:</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genero" class="control-label">Gênero:</label>
                    <select asp-for="Genero" asp-items="@Html.GetEnumSelectList<Enums.Genero>()" class="form-control"></select>
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataDeNascimento" class="control-label">Data de Nascimento:</label>
                    <input asp-for="DataDeNascimento" class="form-control" />
                    <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Telefone:</label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="buttons">
                    <input type="submit" value="Save" class="edit-button">Editar< />
                    <input type="submit" value="Cancel" class="cancel-button">Cancelar< />
                </div>
            </div>
        </form>
    </div>

    
  </body>
</html>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: linear-gradient( 155deg, #fbfbfb 59.05%, #f5e48b 70.08%, #f7e271 76%, #f7dd53 80.29% );
    }

    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .menu {
        width: 30px;
        height: 30px;
    }

    .navigation {
        display: none;
    }

    .opcoes {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
    }

        .opcoes li {
            margin: 0;
        }

        .opcoes a {
            text-decoration: none;
            color: #000;
        }

    .imagemLogo {
        width: 100px;
        height: auto;
    }

    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
    }

        .navbar-nav li {
            margin: 0;
        }

        .navbar-nav a {
            text-decoration: none;
            color: #000;
        }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 80%;
        max-width: 1200px;
    }

    .column {
        flex: 1;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        background-color: #ddd;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 225px;
        height: 39px;
        flex-shrink: 0;
        border-radius: 24px;
        background: rgba(70, 71, 69, 0.3);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        margin-top: 20px;
        margin-left: 80px;
        width: 100%;
        gap: 25px;
    }

    .edit-button,
    .cancel-button {
        padding: 10px;
        cursor: pointer;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        width: 120px;
        text-align: center;
        text-transform: uppercase;
    }

    .edit-button {
        background-color: #4caf50;
    }

    .cancel-button {
        background-color: #ff0000;
    }
</style>