@model ProjetoSaude360.Models.Cadastro

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Cadastro/edit.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Saude360</title>
</head>

<body>
    <header class="cabecalho">
        <input type="checkbox" id="chec" />
        <label for="chec">
            <img class="menu" src="/images/menu_barra.png" />
        </label>
        <nav class="navigation">
            <ul class="opcoes">
                <li><a href="https://localhost:7156">Início</a></li>
                <li><a href="/Cadastros/PerfilUsuario">Perfil</a></li>
                <li><a href="/Tratamentos/Index">Tratamentos</a></li>
                <li><a href="/Medicamentos/Index">Medicamentos</a></li>
            </ul>
        </nav>

        <img class="imagemLogo" src="/images/Logo.png" />

        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    Olá @User.Identity.Name
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cadastros" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cadastros" asp-action="Login">Login</a>
                </li>
            }
        </ul>
    </header>
    <div class="container">
        <form asp-action="Edit" method="post">
            <div class="column">
                <div class="form-group">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>

            <div class="column">
                <div class="form-group">
                    <label asp-for="Genero">Gênero:</label>
                    <select asp-for="Genero" asp-items="@Html.GetEnumSelectList<Enums.Genero>()" class="form-control"></select>
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataDeNascimento">Data de Nascimento:</label>
                    <input asp-for="DataDeNascimento" class="form-control" placeholder="Data de Nascimento" />
                    <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                </div>
            </div>

            <div class="column">
                <div class="form-group">
                    <label asp-for="Telefone">Telefone:</label>
                    <input asp-for="Telefone" class="form-control" placeholder="Telefone" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="buttons">
                    <button type="submit" class="edit-button">Editar</button>
                    <button type="button" class="cancel-button">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

