################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/ProjetoSaude360/ProjetoSaude360/.vs/ProjetoSaude360/DesignTimeBuild
/src/ProjetoSaude360/ProjetoSaude360/.vs/ProjetoSaude360/FileContentIndex/2f4b175c-4629-4a5f-a892-9a7651fa59b2.vsidx
