@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial;
    background: url("/Images/backgorund_medicamentos.png");
    background-size: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.imagemLogo {
    height: 40px;
    width: 80px;
    margin-top: 15px;
    margin-left: 75px;
    position: absolute;
    top: 0;
    left: 0;
}

.image-login {
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
}

.botaoLogin {
    display: flex;
    margin-top: 15px;
    margin-right: 50px;
    height: 45px;
    width: 153px;
    padding: 20px 40px;
    background-color: #00000070;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.btn input[type="submit"] {
    padding: 10px 20px;
    background-color: #9D9D9D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .btn input[type="submit"]:hover {
        background-color: #e04111;
        transition: background-color 0.3s;
    }

.botaoLogin:hover {
    background-color: black;
    color: white;
    transition: all .5s;
}

ul {
    list-style: none;
}

.menu {
    height: 35px;
    width: 35px;
}

input[type="checkbox"] {
    display: none;
}

nav {
    background-color: rgba(133, 133, 133, 0.796);
    width: 350px;
    left: -350px;
    height: 100%;
    position: absolute;
    transition: all .5s;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(350px);
}

.opcoes {
    position: absolute;
    top: 70px;
    width: 100%;
}

a {
    display: block;
    padding: 35px 20px;
    color: white;
    font-size: 25px;
}

    a:hover {
        background-color: #4846468e;
    }

label {
    padding: 20px;
    position: absolute;
    z-index: 1;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    color: #00000088;
}

.separador {
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    border-top: 0.04rem solid #6f6c6c38;
}

.conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.titulo-login {
    margin-top: 10px;
}

.imagem-cadastro {
    margin-left: 70px;
    margin-top: 60px;
    height: 80%;
    width: 80%;
}

.form-container{
    margin-top 20px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

form {
    margin-left: 120px;
    max-width: 500px;
    height: 500px;
    padding: 40px;
}

    form h1 {
        text-align: center;
        font-size: 30px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        margin-bottom: 10px;
    }

    form h2 {
        text-align: center;
        font-size: 20px;
        font-family: 'Righteous', cursive;
        font-weight: 300;
        color: #000000;
    }

    form h3 {
        text-align: center;
        font-size: 20px;
        font-family: 'Righteous', cursive;
        font-weight: 300;
        color: #000000;
    }

    form p {
        text-align: center;
        font-size: 20px;
        font-family: 'Righteous', cursive;
        font-weight: 300;
        color: #00000088;
        margin-top: 3%;
    }

.input-single {
    position: relative;
    margin: 20px 0;
}

    .input-single label {
        position: absolute;
        left: 90%;
        transition: all 0.2s;
        width: 10px; 
        height: 10px; 2
    }

.input {
    background-color: #00000018;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    border-radius: 24px;
    border: 5px;
    padding: 5px 0px 0px 15px;
    font-size: 15px;
    font-family: 'Sarala', sans-serif;
    Width: 479px;
    Height: 20px;
    margin-top: 15px;
    outline: 0;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
    transform: translateY(-20px);
    font-size: 12px;
    color: black;
}

.senha {
    margin-top: 15px;
}

.info-secundaria-cadastro {
    margin-top: 15px;
}

.mais {
    position: absolute;
    margin-top: 20%;
    left: 300%;
}

.add {
    position: absolute;
    top: 150px;
    width: 100%;
    left: 155%;
}

    .add .butom {
        background-color: #000000;
        color: #ffffff;
        font-size: 30px;
        border-radius: 20px;
    }

.nav-item {
    display: flex;
    flex-direction: row;
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 15px;
    justify-content: space-between;
}

    .nav-item a {
        height: 5px;
        width: 60px;
        text-align: center;
        background-color: #909090;
        border-radius: 15px;
        padding: 30px 20px;
        position: fixed;
        top: 5px;
        right: 50px;
    }


#botaoAdicionar {
    background-color: #ff0000; 
    color: #ffffff; 
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;    
}

.form-container {
    display: flex;
    align-items: flex-start;
    position: relative; 
}

.fotomedicamentos {
    max-width: 90%; 
    height: auto; 
    position: absolute;
    top: 70%; 
    left: -500px; 
    transform: translateY(-50%); 
    margin-bottom: 20px; 
}

