body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient( 155deg, #fbfbfb 59.05%, #f5e48b 70.08%, #f7e271 76%, #f7dd53 80.29% );
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.title-container {
    text-align: center;
    margin-top: 49px;
}

.title {
    font-size: 24px;
}

.container {
    display: flex;
    height: 782px;
    justify-content: space-around;
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.profile-picture {
    width: 224px;
    height: 220.014px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 479px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 8px;
}

input[type='text'] {
    width: 100%;
    height: 39px;
    border-radius: 24px;
    background: rgba(70, 71, 69, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    margin-left: 50%;
}

.edit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ff3333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #45a049;
}
