<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/consulta.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Consultas</title>

</head>

<body>
    <header class="cabecalho">
        <div>
            <input type="checkbox" id="chec">
            <label for="chec">
                <img class="menu" src="/img/menu_barra.png">
            </label>
            <nav class="navigation">
                <ul class="opcoes">
                    <li><a href="https://localhost:7156">Início</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="">Tratamentos</a></li>
                    <li><a href="">Medicamentos</a></li>
                    <li><a href="">Ciclo Menstrual</a></li>
                </ul>
            </nav>
            <img class="imagemLogo" src="/img/Logo.png">
        </div>



        <div class="header-right">
            <div>
                <img src="/img/🦆 icon _logo twitter_.png">
                <img id="rede_instagram" src="/img/🦆 icon _logo instagram_.png">
                <img src="/img/🦆 icon _logo facebook_.png">
            </div>
            <div class="perfil">
                <a href="perfil.html">
                    <img src="/img/🦆 icon _person_.png" alt="avatar">
                </a>
            </div>
        </div>
    </header>

    <div class="separador">
        <main>
            <h1 class="titulo-consulta">Consultas</h1>
            <div class="pesquisa">
                <form action="/resultado-de-pesquisa" method="get">
                    <input class="barrapesquisa" type="text" name="q" placeholder="Digite o que precisa aqui">
                    <!-- <button type="submit">&#128269;</button> -->

                </form>
                <a href="/html/nova-consulta.html">
                    <img src="/img/mais_3.png" alt="Incluir">
                </a>
            </div>


        </main>
    </div>


    <footer>
    </footer>

</body>

</html>